
<div class="tabber">

     <div class="tabbertab">
	 <h2>Start Download</h2>
	 

<center>
<image src="/images/usedisk.png" />
<br />
<br />
<br />

<br />


<br />


<font color=red size=5> You dont have privilege to download this file or you may not have logged in with proper user id.</font>



</center>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />












<% if @current_user %>

	 </div>


<% end %>
		
<div>
























