<% if @current_user %>

<div class="tabber">

     <div class="tabbertab">
	 <h2>Start Download</h2>
	 
<% end %>

<center>
<image src="/images/usedisk.png" />
<br />
<br />
<br />

<br />


<br />


<font color=red size=5> The file was not avialable for download.</font>



</center>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />












<% if @current_user %>

	 </div>


		
<div>



<% end %>





















