<div class="tabber">

     <div class="tabbertab">
	 <h2>New Upload</h2>
<center>
<image src="/images/usedisk.png" />


<br />


<% form_tag( {:action => 'upload'}, :multipart => true ) do |f| %> 


  <%= render :partial => "new_form", :object => f %>

	<p>
		<%= submit_tag "Upload" %> (1 GB / 1000 MB)
	</p>
	
<% end %>





All users are our Premium Users.
<br />

</center>

<br />
<br />
<br />
<br />
<br />
<br />













</div>

	 
	 
	 
	 
	 
	 </div>






