<div id=top>
<h5> <a href=/> Home </a> | <a href=/doc/aboutus.html> About Us </a> | <a href=/doc/faq.html> FAQ </a> | <a href=/doc/termsandconditions.html> Terms and Conditions </a> | <a href=/doc/help.html > Help </a> &nbsp &nbsp &nbsp &nbsp &nbsp </h5>
</div>

<div id=content>



<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<center>
<image src="/images/usedisk.png" />


<br />

<br />
<font color=red> allowed limit is 999MB. Kindly upload a file less than or equal to 999MB. </font>
<br />
<br />
<br />


<% form_tag( {:action => 'upload'}, :multipart => true) do |f| %>
 
<%= file_field :upload, :file %>
  <p>
    <%= submit_tag "Upload" %>
  </p>
<% end %>

</center>

</div>